# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data / outputs
data/
outputs/
results/

# Model files / caches
*.pth
*.pt
torch_models/
pretrained_models/

# Docker
*.tar
*.tar.gz
docker-compose.override.yml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp
